.example-download {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    margin: 13px auto;
}

.example-download__text {
    display: inherit;
    margin: auto 2px;
    font-size: 13px;
    text-align: center;
    line-height: 1.15;
    color: #878787;
}

.example-download__link {
    display: inherit;
    width: auto;
    margin: auto 2px;
    font-size: 13px;
    text-align: center;
    line-height: 1.15;
    color: #7edcff;
    text-decoration: underline;
}