.form-wrapper {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 12px auto 12px auto 12px auto 12px auto 12px auto;
    grid-template-rows: repeat(6,1fr);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    background-color: white;
    padding: 40px;
    @media all and (max-width: $sm-width) {
        grid-template-rows: 2fr repeat(2,1fr);
    }
    @media all and (min-width:$md-width) and (max-width:$lg-width) {
        grid-template-rows: 2fr repeat(2,1fr);
    }
}