.headline {
    margin: 0 auto 58px;
}

.headline__teacher {
    max-width: 750px;
    font-size: 58px;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.headline__teacher--bold {
    font-weight: bold;
}

.headline__teacher--centered {
    margin: 0 auto;
}