html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

//Variables
@import 'variables';
//Blocks
@import 'form-popup';
@import 'content-wrapper';
@import 'page-wrapper';
@import 'form-wrapper';
@import 'name-input';
@import 'name-field';
@import 'email-field';
@import 'phone-field';
@import 'school-field';
@import 'submit-button';
@import 'example-download';
@import 'ideal-box';
@import 'headline';