.name-input {
    display: -ms-grid;
    display: grid;
    grid-gap: 12px;
    -ms-grid-columns: 1fr 12px 1fr;
    grid-template-columns: repeat(2,1fr);
    input {
        border: none;
        background: none;
    }
    @media all and (max-width:$sm-width) {
        -ms-grid-columns: 1fr; 
        -ms-grid-rows: 1fr 12px 1fr;
        grid-template-columns: 1fr;
    }
    @media all and (min-width:$md-width) and (max-width:$lg-width) {
        -ms-grid-columns: 1fr; 
        -ms-grid-rows: 1fr 12px 1fr;
        grid-template-columns: 1fr;
    }
}