.page-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper--bg-cover {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}