.school-field {
    padding: 13px;
    padding-top:10.5px; 
    padding-bottom:10.5px; 
    background-color: #f4f7f6;
    font-family: sans-serif;
    overflow: hidden;
    max-width: 100%;
    input {
        background: none;
        border: none;
    }
}
.school-field--has-label {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25px auto;
    grid-template-columns: 25px auto;
}